{% extends 'base.html.twig' %}

{% block title %}Date index{% endblock %}

{% block body %}
    <div class="container-fluid">

        <h1>Date index</h1>

        <div class=" row row-cols-3 text-center g-3">
            {% for date in dates %}
                <div class="col">

                    <div class="card">
                        <p>{{ date.title }}</p>
                        <p>{{ date.startDate ? date.startDate|date('Y-m-d H:i:s') : '' }}</p>
                        <p>{{ date.endDate ? date.endDate|date('Y-m-d H:i:s') : '' }}</p>
                        <p>{{ date.color }}</p>
                        <p>{{ date.description }}</p>
                        <p>
                            <a href="{{ path('app_date_show', {'id': date.id}) }}">show</a>
                            <a href="{{ path('app_date_edit', {'id': date.id}) }}">edit</a>
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <div class="card">
                        <p>no records found</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('app_date_new') }}">Create new</a>
    </div>
{% endblock %}
